<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nssoft.generator.mapper.ChajaDtExpressOrdersMapper" >
  <resultMap id="BaseResultMap" type="com.nssoft.generator.model.ChajaDtExpressOrders" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="express_record_no" property="express_record_no" jdbcType="VARCHAR" />
    <id column="order_no" property="order_no" jdbcType="VARCHAR" />
    <id column="sample_type" property="sample_type" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="unit_price" property="unit_price" jdbcType="DECIMAL" />
    <result column="total_amount" property="total_amount" jdbcType="DECIMAL" />
    <result column="print_yn" property="print_yn" jdbcType="CHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="inner_length" property="inner_length" jdbcType="DECIMAL" />
    <result column="inner_width" property="inner_width" jdbcType="DECIMAL" />
    <result column="inner_height" property="inner_height" jdbcType="DECIMAL" />
    <result column="inner_size_unit" property="inner_size_unit" jdbcType="VARCHAR" />
    <result column="inner_gw" property="inner_gw" jdbcType="DECIMAL" />
    <result column="inner_nw" property="inner_nw" jdbcType="DECIMAL" />
    <result column="unit_weight" property="unit_weight" jdbcType="DECIMAL" />
  </resultMap>
</mapper>