<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nssoft.generator.mapper.ChajaDtShipmentJpinvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.nssoft.generator.model.ChajaDtShipmentJpinvoice" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="shipment_no" property="shipment_no" jdbcType="VARCHAR" />
    <id column="chaja_type" property="chaja_type" jdbcType="VARCHAR" />
    <result column="invoice_no" property="invoice_no" jdbcType="CHAR" />
    <result column="invoice_item" property="invoice_item" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="ttl" property="ttl" jdbcType="DECIMAL" />
    <result column="print_yn" property="print_yn" jdbcType="CHAR" />
    <result column="calculate_yn" property="calculate_yn" jdbcType="CHAR" />
    <result column="payed_yn" property="payed_yn" jdbcType="CHAR" />
  </resultMap>
</mapper>